	<div class="col-sm-7 col-md-8 col-lg-9">
		<div class="card">
			<div class="card-header d-flex px-2">
				<h6 class="m-0"><%= page_subheading %></h6>
			</div>
			<div class="card-body p-2">
				<form action="/dashboard/post/update/<%= post._id %>" method="POST" class="mb-0">    		    
					<div class="form-group">
							<input type="text" class="form-control" name="title" value="<%= post.title %>" placeholder="Title" />
					</div>
					
					<div class="form-group">
							<input type="text" class="form-control" name="excerpt" value="<%= post.short_description %>" placeholder="Excerpt" />
					</div>
					
					<div class="form-group">
							<textarea rows="5" class="form-control" name="body" placeholder="Full text" >
								<%= post.full_text %>
							</textarea>
					</div>
					
					<div class="form-group mb-0">
						<input type="submit" value="Update Post" class="btn btn-block btn-md btn-success">
					</div>
    		</form>
      </div>
		</div>
	</div>