<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/bower_components/components-font-awesome/css/all.min.css' rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title><%= website_name %> | <%= page_heading %></title>
</head>
<body>
    <%- include('../partials/navbar'); %>

		<div class="container pt-3">
			<%- include('../partials/messages'); %>
			<div class="row">
				<%- include('../partials/sidebar'); %>
				<%- body; %>
			</div>
		</div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/js/admin.js"></script>

</body>
</html>